version: '3.8'

volumes:
  postgres_data:

services:
  db:
    image: postgres:16.1
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: dbuser
      POSTGRES_PASSWORD: 12345
      POSTGRES_DB: shareit
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U dbuser -d shareit"]

  server:
    build:
      context: .
      dockerfile: server/Dockerfile
    ports:
      - "8080:8080"
    environment:
      - SPRING_DATASOURCE_URL=jdbc:postgresql://db:5432/shareit
      - SPRING_DATASOURCE_USERNAME=dbuser
      - SPRING_DATASOURCE_PASSWORD=12345
    depends_on:
      - db

  gateway:
    build:
      context: .
      dockerfile: gateway/Dockerfile
    ports:
      - "9090:9090"
    environment:
      - SHAREIT_SERVER_URL=http://server:8080
    depends_on:
      - server